@{
    ViewBag.Title = "Home";
}
@section styles {
    <link rel="stylesheet" href="~/Content/Css/Home.css" />
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

</head>
<body>
    <div class="banner">
        <img src="~/Content/Images/10.10_Voucher_1545_500_V.png" />
    </div>
    <div class="voucher-container">
        <span style="color:dodgerblue; font-size:30px; font-weight:bold;">DEAL CHỒNG DEAL</span>
    </div>
    <div class="voucher-container">
        <div class="voucher">
            <img src="~/Content/Images/HP_10.10_VOUVHER_150_VN.png" />
        </div>
        <div class="voucher">
            <img src="~/Content/Images/HP_10.10_VOUVHER_250_VN.png" />
        </div>
        <div class="voucher">
            <img src="~/Content/Images/HP_10.10_VOUVHER_500_VN.png" />
        </div>
    </div>
    <div class="combo-container">
        <span style="color:dodgerblue; font-size:30px; font-weight:bold;">THƯƠNG HIỆU ĐƯỢC YÊU THÍCH NHẤT</span>
    </div>
    <div class="combo-container">
        <div class="combo">
            <img src="~/Content/Images/HP_10.10_TOP_NIKE_VN.png" />
        </div>
        <div class="combo">
            <img src="~/Content/Images/HP_10.10_TOP_DAS_VN.png" />
        </div>
    </div>
    <div class="combo-container">
        <div class="combo">
            <img src="~/Content/Images/HP_10.10_TOP_UA_VN.png" />
        </div>
        <div class="combo">
            <img src="~/Content/Images/HP_10.10_TOP_COLUM_VN.png" />
        </div>
    </div>
    <div class="brand-container">
        <button class="brand-btn active">NIKE</button>
        <button class="brand-btn">ADIDAS</button>
        <button class="brand-btn">UNDER ARMOUR</button>
        <button class="brand-btn">COLUMBIA</button>
    </div>
    <div class="combo-container">
        <span style="color:dodgerblue; font-size:30px; font-weight:bold;">KHÁM PHÁ THÊM NHIỀU THƯƠNG HIỆU HÀNG ĐẦU</span>
    </div>
    <div class="combo-container">
        <div class="combo">
            <img src="https://cdn.shopify.com/s/files/1/0456/5070/6581/files/HP_10.10_BRANDS_ON_VN.png?v=1759806901&width=1440" />
        </div>
        <div class="combo">
            <img src="https://cdn.shopify.com/s/files/1/0456/5070/6581/files/HP_10.10_BRANDS_PUMA_VN.png?v=1759806901&width=1440" />
        </div>
        <div class="combo">
            <img src="https://cdn.shopify.com/s/files/1/0456/5070/6581/files/HP_10.10_BRANDS_HOKA_VN.png?v=1759806901&width=1440" />
        </div>
        <div class="combo">
            <img src="https://cdn.shopify.com/s/files/1/0456/5070/6581/files/HP_10.10_BRANDS_SPEDOO_VN.png?v=1759806901&width=1440" />
        </div>
        <div class="combo">
            <img src="https://cdn.shopify.com/s/files/1/0456/5070/6581/files/HP_10.10_BRANDS_CROCS_VN.png?v=1759806901&width=1440" />
        </div>
        <div class="combo">
            <img src="https://cdn.shopify.com/s/files/1/0456/5070/6581/files/HP_10.10_BRANDS_TEVA_VN.png?v=1759806901&width=1440" />
        </div>
    </div>
    <div class="combo-container">
        <span style="color:dodgerblue; font-size:30px; font-weight:bold;">MÔN THỂ THAO YÊU THÍCH CỦA BẠN</span>
    </div>
    <div class="combo-container">
        <div class="combo">
            <img src="~/Content/Images/HP_10.10_SPORT_RUNNING_VN.png" />
        </div>
        <div class="combo">
            <img src="~/Content/Images/HP_10.10_SPORT_TRAINING_VN.png" />
        </div>
        <div class="combo">
            <img src="~/Content/Images/HP_10.10_SPORT_LIFESTYLE_VN.png" />
        </div>
        <div class="combo">
            <img src="~/Content/Images/HP_10.10_SPORT_OUTDOOR_VN.png" />
        </div>
    </div>
    <div class="banner">
        <img style="padding-left:100px;padding-right:100px;" src="~/Content/Images/HP_10.10_2-30_KV_NO_VN.png" />
    </div>
    <div class="banner">
        <img style="padding-left:100px;padding-right:100px;" src="~/Content/Images/Speedo_Special_price_09-23.10_1960_740_no_cta_V.png" />
    </div>
    <div class="newcombo-container">
        <span style="color:black; font-size:30px; font-weight:bold; justify-content:left;">MÔN THỂ THAO YÊU THÍCH CỦA BẠN</span>
    </div>
    <div class="newcombo-container">
        <div class="newcombo">

        </div>
    </div>
</body>
</html>
